.text{
    height: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: xx-large;
    text-decoration: underline;
    color:brown;
    margin-left: 700px;
}   




